<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.markusbink.travelapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      
        <activity android:name=".MainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActionBarActivity"/>

        <activity android:name=".SingleVacationActivity"
                  android:parentActivityName=".MainActivity.MainActivity"/>

        <activity android:name=".PackingList.PackingList"
                  android:parentActivityName=".MainActivity.MainActivity"/>

        <activity android:name=".SpendingCalculator.SpendingCalculator"
                  android:parentActivityName=".MainActivity.MainActivity"/>

        <activity android:name=".Routeplaner.FirstscreenRouteplaner">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity android:name=".Routeplaner.SecondscreenRouteplaner">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.ALTERNATIVE."/>
            </intent-filter>
        </activity>
      
      <activity android:name=".Weather.Weather"/>
      
    </application>

</manifest>